*Hypothesis Testing*

In [1]:
import json
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import scipy
scipy.__version__

'1.9.3'

In [2]:
df = pd.read_csv('Data/insurance - insurance.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Q1. Do smokers have higher insurance charges than non-smokers?

1. State the Hypothesis & Null Hypothesis
 
 (Null Hypothesis): Smokers do not have higher insurance charges than non-smokers.
 
 (Alternative Hypothesis): There are significantly higher insurance charges for smokers than for non-smokers.

2. Correct test to perform.
- Numerical Data
- Two groups/samples
- 2-sample T-test.

In [3]:
df['charges'].describe()

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

In [4]:
df['smoker'].describe()

count     1338
unique       2
top         no
freq      1064
Name: smoker, dtype: object

In [5]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [6]:
df['active_smoker'] = df['smoker'].str.contains('yes')
df['active_smoker'].value_counts()

False    1064
True      274
Name: active_smoker, dtype: int64

In [7]:
needed_cols = ['active_smoker','smoker']

df[needed_cols]

      active_smoker smoker
0              True    yes
1             False     no
2             False     no
3             False     no
4             False     no
...             ...    ...
1333          False     no
1334          False     no
1335          False     no
1336          False     no
1337           True    yes

[1338 rows x 2 columns]

In [8]:
nonsmoker_df = df.loc[ df['active_smoker']==False, needed_cols]
nonsmoker_df

      active_smoker smoker
1             False     no
2             False     no
3             False     no
4             False     no
5             False     no
...             ...    ...
1332          False     no
1333          False     no
1334          False     no
1335          False     no
1336          False     no

[1064 rows x 2 columns]

In [9]:
smoker_df = df.loc[ df['active_smoker']==True, needed_cols]
smoker_df

      active_smoker smoker
0              True    yes
11             True    yes
14             True    yes
19             True    yes
23             True    yes
...             ...    ...
1313           True    yes
1314           True    yes
1321           True    yes
1323           True    yes
1337           True    yes

[274 rows x 2 columns]

In [10]:
## Make a df just for visualization by concat the groups 
plot_df = pd.concat([nonsmoker_df,smoker_df])
plot_df

      active_smoker smoker
1             False     no
2             False     no
3             False     no
4             False     no
5             False     no
...             ...    ...
1313           True    yes
1314           True    yes
1321           True    yes
1323           True    yes
1337           True    yes

[1338 rows x 2 columns]

Q2. Are men more likely to smoke than women?

Q3. Do different regions have different charges, on average?