*Hypothesis Testing*

In [1]:
import json
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import scipy
scipy.__version__

'1.9.3'

In [2]:
df = pd.read_csv('Data/insurance - insurance.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Q1. Do smokers have higher insurance charges than non-smokers?

1. State the Hypothesis & Null Hypothesis
 
 (Null Hypothesis): Smokers do not have higher insurance charges than non-smokers.
 
 (Alternative Hypothesis): There are significantly higher insurance charges for smokers than for non-smokers.

2. Correct test to perform.
- Numerical Data
- Two groups/samples
- 2-sample T-test.

In [3]:
df['charges'].describe()

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

In [4]:
df['smoker'].describe()

count     1338
unique       2
top         no
freq      1064
Name: smoker, dtype: object

In [5]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [6]:
df['active_smoker'] = df['smoker'].str.contains('yes')
df['active_smoker'].value_counts()

False    1064
True      274
Name: active_smoker, dtype: int64

In [7]:
needed_cols = ['active_smoker','charges']

df[needed_cols]

      active_smoker      charges
0              True  16884.92400
1             False   1725.55230
2             False   4449.46200
3             False  21984.47061
4             False   3866.85520
...             ...          ...
1333          False  10600.54830
1334          False   2205.98080
1335          False   1629.83350
1336          False   2007.94500
1337           True  29141.36030

[1338 rows x 2 columns]

In [8]:
nonsmoker_df = df.loc[ df['active_smoker']==False, needed_cols]
nonsmoker_df

      active_smoker      charges
1             False   1725.55230
2             False   4449.46200
3             False  21984.47061
4             False   3866.85520
5             False   3756.62160
...             ...          ...
1332          False  11411.68500
1333          False  10600.54830
1334          False   2205.98080
1335          False   1629.83350
1336          False   2007.94500

[1064 rows x 2 columns]

In [9]:
smoker_df = df.loc[ df['active_smoker']==True, needed_cols]
smoker_df

      active_smoker      charges
0              True  16884.92400
11             True  27808.72510
14             True  39611.75770
19             True  36837.46700
23             True  37701.87680
...             ...          ...
1313           True  36397.57600
1314           True  18765.87545
1321           True  28101.33305
1323           True  43896.37630
1337           True  29141.36030

[274 rows x 2 columns]

In [10]:
## Make a df just for visualization by concat the groups 
plot_df = pd.concat([nonsmoker_df,smoker_df])
plot_df

      active_smoker      charges
1             False   1725.55230
2             False   4449.46200
3             False  21984.47061
4             False   3866.85520
5             False   3756.62160
...             ...          ...
1313           True  36397.57600
1314           True  18765.87545
1321           True  28101.33305
1323           True  43896.37630
1337           True  29141.36030

[1338 rows x 2 columns]

In [11]:
nonsmoker_group = nonsmoker_df['charges']
smoker_group = smoker_df['charges']
nonsmoker_group

1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
5        3756.62160
           ...
1332    11411.68500
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
Name: charges, Length: 1064, dtype: float64

In [12]:
nonsmoker_outliers = np.abs(stats.zscore(nonsmoker_group)) > 3
nonsmoker_outliers.sum()

24

In [13]:
nonsmoker_group = nonsmoker_group.loc[~nonsmoker_outliers]
nonsmoker_group

1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
5        3756.62160
           ...
1332    11411.68500
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
Name: charges, Length: 1040, dtype: float64

In [14]:
smoker_outliers = np.abs(stats.zscore(smoker_group)) > 3
smoker_outliers.sum()

0

In [15]:
results = stats.normaltest(nonsmoker_group)
results.pvalue

2.6945416315543976e-36

In [16]:
len(nonsmoker_group)

1040

In [17]:
results = stats.normaltest(smoker_group)
results.pvalue

5.564930630036463e-14

In [18]:
len(smoker_group)

274

In [19]:
result = stats.levene(smoker_group,nonsmoker_group)
print(result)

LeveneResult(statistic=520.7468821724297, pvalue=2.4247238784347824e-97)

In [21]:
if result.pvalue < .05:
    print(f"The groups do NOT have equal variance.")
else:
    print(f"The groups DO have equal variance.")

The groups do NOT have equal variance.

Final Hypothesis Test - Welch's T-Test

In [22]:
result = stats.ttest_ind(smoker_group, nonsmoker_group, equal_var=False)
print(result)
result.pvalue  < .05

Ttest_indResult(statistic=33.732305987092516, pvalue=2.575322662587431e-104)

True

In [23]:
smoker_group.mean()

32050.23183153284

In [24]:
nonsmoker_group.mean()

7939.8608446721155

Q2. Are men more likely to smoke than women?

Q3. Do different regions have different charges, on average?